@model BusReservationProjectTepe.WEB.DTOs.UserDto


<div>
    <form asp-action="Login" method="post">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" required type="text" /><br />

        <label asp-for="Surname">Surname</label>
        <input asp-for="Surname" required type="text" /><br />

        <label asp-for="Email">Email</label>
        <input asp-for="Email" required type="email" /><br />

        <label asp-for="Password">PassWord</label>
        <input asp-for="Password" required type="password" /> <br />

        <input type="submit" value="Login" class="btn btn-primary" />
    </form>
</div>
